.sidebar {
  height: 100vh;
  /* width: 4.5%; */
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  transition: width 750ms;
  overflow: hidden;
  z-index: 99;
  box-shadow: inset -8px 0px 16px -6px rgba(0, 0, 0, 0.2);
}

.sidebar:hover {
  width: 200px;
}

.sidebarItem {
  height: 25%;
  max-width: 100%;
  line-height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: border 0.5s, background 0.5s;
}


/* .sidebarItem span {
  position: absolute;
  left: 120px;
  top: 30px;
  transition: color 1s;
  color: rgba(255, 255, 255, 0);
}

.sidebar:hover .sidebarItem span {
  color: rgba(255, 255, 255, 1);
} */


.sidebarItem:hover {
  /* background: #000; */
  background: #acd8a7;
  cursor: pointer;
}
