.sidebar {
  height: 100vh;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 99;
  box-shadow: inset -8px 0px 16px -6px rgba(0, 0, 0, 0.2);
  transition: width 0.3s ease-in-out;
}

.sidebar:hover {
  width: 200px;
}

.sidebarItem {
  height: 25%;
  max-width: 100%;
  line-height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: border 0.5s, background 0.5s;
}

.hamburger {
  visibility: hidden;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
}

.sidebarItem:hover {
  background: #acd8a7;
  cursor: pointer;
}

.lists {
  display: none;
}

.listsOpen {
  list-style-type: none;
  font-size: 17px;
  margin-top: 15px;
  margin-left: -50px;
}

.listsOpen li {
  padding: 12px 0px;
}

.listsOpen li:hover {
  color: #acd8a7;
}

@media (max-width: 768px) {
  .sidebar {
    width: 65px;
    background: rgba(0, 0, 0, 0);
  }
  .sidebar:hover {
    width: 65px;
  }
  .sidebar.open {
    width: 110px;
  }
  .hamburger {
    visibility: visible;
    left: 14px;
  }
  .sidebarItem {
    visibility: hidden;
  }
}

@media (max-width: 480px) {
  .sidebar.open {
    width: 120px;
  }
  .hamburger {
    left: 10px;
  }
}
