.sidebar {
  height: 100vh;
  width: 120px;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 99;
  box-shadow: inset -8px 0px 16px -6px rgba(0, 0, 0, 0.2);
  transition: width 0.3s ease-in-out;
}

.sidebar:hover {
  width: 200px;
}

.sidebar-item {
  height: 25%;
  max-width: 100%;
  line-height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 0.5s, background 0.5s;
}

.item-description {
  margin-left: 12px;
}

.hamburger-menu {
  visibility: hidden;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
}

.sidebar-item:hover {
  background: #acd8a7;
  cursor: pointer;
}

.lists {
  display: none;
}

.lists.open {
  display: block;
  list-style-type: none;
  font-size: 17px;
  margin-top: 15px;
  margin-left: -50px;
}

.lists.open li {
  padding: 12px 0px;
}

.lists.open li:hover {
  color: #acd8a7;
}

@media (min-width: 769px) and (max-width: 1150px) {
  .sidebar {
    width: 90px;
    background: rgba(0, 0, 0, 0);
  }
  .sidebar:hover {
    width: 90px;
  }
  .sidebar.open {
    width: 130px;
  }
  .hamburger-menu {
    visibility: visible;
    left: 25px;
  }
  .sidebar-item {
    visibility: hidden;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .sidebar {
    width: 65px;
    background: rgba(0, 0, 0, 0);
  }
  .sidebar:hover {
    width: 65px;
  }
  .sidebar.open {
    width: 110px;
  }
  .hamburger-menu {
    visibility: visible;
    left: 14px;
  }
  .sidebar-item {
    visibility: hidden;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 55px;
    background: rgba(0, 0, 0, 0);
  }
  .sidebar:hover {
    width: 55px;
  }
  .sidebar.open {
    width: 85px;
  }
  .sidebar.open li {
    font-size: 15px;
  }
  .hamburger-menu {
    font-size: 19px;
    visibility: visible;
    left: 9px;
  }
  .sidebar-item {
    visibility: hidden;
  }
}
