.leaflet-container {
  height: 450px;
  width: 900px;
  border-radius: 15px;
  opacity: 0;
  animation: fadeIn 1.2s ease forwards;
  box-shadow: 0px 0px 45px rgba(0, 0, 0, 1);
}

.location-error-message {
  width: 400px;
  height: 250px;
  padding: 50px 45px;
  background: rgba(59, 59, 59, 0.8);
  border-radius: 15px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 255, 255, 0.7);
}

.location-error-message p {
  margin-top: 15px;
}

@media (min-width: 481px) and (max-width: 768px) {
  .leaflet-container {
    width: 360px;
    height: 250px;
  }
  .location-error-message {
    width: 310px;
    height: 200px;
    font-size: 13.5px;
  }
}

@media (min-width: 401px) and (max-width: 480px) {
  .leaflet-container {
    width: 260px;
    height: 170px;
  }
  .location-error-message {
    width: 250px;
    height: 160px;
    font-size: 11px;
  }
}

@media (max-width: 400px) {
  .leaflet-container {
    width: 180px;
    height: 140px;
  }
  .location-error-message {
    width: 200px;
    height: 130px;
    font-size: 7px;
  }
}