
.time {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0);
    backdrop-filter: saturate(80%) blur(3px);
    color: #fff;
    border: 0px;
    font-size: 19px;
  }

  