* {
  margin: 0;
  box-sizing: border-box;
}

.aboutContainer {
  width: 1000px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconContainer {
  width: 270px;
  height: 190px;
  padding: 55px;
  margin: 20px;
  border-radius: 20px;
  backdrop-filter: saturate(80%) blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0; 
  animation: fadeIn 1.6s ease-in-out forwards; 
  background: rgba(59, 59, 59, 0.8);
  & img {
    width: 100%;
    height: 100%;
  }
}

.iconContainer:hover {
  box-shadow: 5px 5px 10px rgba(240, 240, 240, 0.5);
}

.iconContainer:nth-child(1) {
  background: linear-gradient(
    90deg,
    rgba(204, 102, 0, 0.75),
    rgba(255, 255, 0, 0.5)
  );
}

