.search-input-container {
  width: 550px;
  height: 220px;
}

.search-input {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.search-input input {
  width: 545px;
  height: 30px;
  outline: 0px;
  border: 0px;
  padding-left: 10px;
}

.search-input-container .animation {
  animation-name: inputSpread;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
}

@keyframes inputSpread {
  from {
    width: 0px;
  }
  to {
    width: 520px;
  }
}

.filtered-cities-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.filtered-cities {
  margin-top: 10px;
}

.filtered-cities div {
  width: 540px;
  font-size: 15px;
  display: flex;
  height: 30px;
  outline: none;
  background: #fff;
  padding: 3px;
}

.filtered-cities div:hover {
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

@media (min-width: 480px) and (max-width: 768px) {
  .search-input-container {
    width: 320px;
    height: 230px;
  }
  .filtered-cities div,
  .search-input input {
    width: 320px;
  }
  .filtered-cities div{
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .search-input-container {
    width: 210px;
  }
  .filtered-cities div,
  .search-input input {
    width: 210px;
  }
  .filtered-cities div{
    font-size: 14px;
  }
}

