@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.weather {
  width: 950px;
  height: 550px;
  outline: none;
  border-radius: 12px;
  color: rgba(255, 255, 255, 0.7);
  display: grid;
  grid-template-rows: 3.2fr 1.3fr 2.6fr;
  gap: 20px;
  font-family: "Montserrat", sans-serif;
}

.weather-data,
.weather-icons {
  display: grid;
  grid-template-columns: 2fr 3.5fr;
  column-gap: 35px;
}

.time,
.date-place,
.weekly-forecast,
.forecast-by-hour {
  backdrop-filter: saturate(80%) blur(7px);
  background: rgba(0, 0, 0, 0.55);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3rem 0px;
  border-radius: 15px;
  border: 0px solid white;
}

.weather-data-right {
  display: grid;
  grid-template-rows: 2fr 3fr;
  row-gap: 20px;
}

.location-info {
  display: grid;
  grid-template-columns: 2fr 8fr;
  column-gap: 35px;
}

.weather-responsive {
  display: none;
}

@media (max-width: 1150px) {
  .weather {
    display: flex;
    flex-direction: column;
  }
  .weather-data {
    display: block;
    color: #000;
  }
  .weather-data-right {
    display: none;
  }
  .weather-icons .current-conditions {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1150px) {
  .weather {
    width: 470px;
  }
}

@media (min-width: 550px) and (max-width: 768px) {
  .weather {
   width: 380px;
  }
} 

@media (min-width: 481px) and (max-width: 549px) {
  .weather {
    width: 300px;
  }
}

@media (min-width: 400px) and (max-width: 480px) {
  .weather {
    width: 250px;
  }
}

@media (min-width: 300px) and (max-width: 399px) {
  .weather {
    width: 200px;
  }
} 