.week-days {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.week-days .days {
  height: 65px;
  width: 60px;
  border-radius: 25px;
  backdrop-filter: saturate(80%) blur(7px);
  background: rgba(0, 0, 0, 0.55);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3rem 0px;
  cursor: pointer;
  display: grid;
  grid-template-rows: 1.2fr 2fr;
}

.day {
  font-size: 15px;
  color: #fff;
  text-align: center;
  margin-top: 8px;
}

.day-img {
  width: 60px;
  height: 38px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: start;
  & img {
    width: 70%;
    height: 85%;
  }
}