.weekForecast {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
  }
  .weekForecast .forecastLeft, .forecastRight {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 0px 35px 30px 35px;
  }

  .forecastLeft div, .forecastRight div{
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-size: 13.5px;
  }

  .forecastLeft div p, .forecastRight div p {
    margin-bottom: 1.5px;
  }

  @media (max-width: 768px) {
  
  }